.__main-clicker{
    display: flex;
     justify-content: center;
     flex-direction: column;
     max-width: 44vw;
     justify-content: center;
     align-content: center;
     align-items: center;
     button{
         background-color: orangered;
         border: 0;
         color:white;
         padding:10px 20px;
         min-height: 45px;
         margin-top: 4px;
     }
     .__money-owned{
         color:white;
         
     }
}